{
  "parserOptions": {
    "ecmaVersion": 2015
  },
  "env": {
    "jasmine": true,
    "jest": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error", {
        "trailingComma": "es5",
        "singleQuote": true
      }
    ]
  }
}
